* {
    margin: 0;
    padding: 0;
}

.cont_form {
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 100px;
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 10px;
}

.cont_form > h2 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.0em;
    font-family: sans-serif;
}

.form, .cont_text {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form_element, .form_textarea {
    outline: none;
    border-radius: 5px;
    border: 1px solid #a7a2a2;
}

.form_element {
    padding: 2px;
}

.form_textarea {
    resize: none;
}

.form_button {
    padding: 5px;
    width: 80px;
    font-size: 12px;
    box-sizing: border-box;
    margin-top: 5px;
    border: 1px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background: #2a82e0;
    color: #f9f8f8;
}

.form_button:hover {
    background: #4991dc;
}

.form_submit {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_submit > span {
    font-size: 11px;
    color: #17ad39;
    font-family: sans-serif;
}

.cont_input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    margin: 0 5px 5px 5px;
}

.select_result {
    outline: none;
    border: 1px solid;
    position: absolute;
    background: #fff;
	visibility: hidden;
}

.select_result > .option_result:hover {
    background: #ccc;
    cursor: pointer;
}

.form_select, .select_result {
    outline: none;
    width: 170px;
}

.form_select::-webkit-calendar-picker-indicator {
    display: none;
}