* {
    margin: 0;
    padding: 0;
}
.wrapper{
    margin: 0 auto;
    width: 66%;
    position: relative;
    z-index: 0;
}
.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 960px;
}

.gallery a {
    width: 215px;
}

.gallery img {
    width: 100%;
    box-sizing: border-box;
    padding: 5px 2px;
}

.box {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 3666;
    background-color: rgba(0,0,0,0.8);
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}
.close, .min-img {
    color: white;
    cursor: pointer;
}

.box .pop {
    position: relative;
    top: 10%;
    margin: 0 auto;
    display: flex;
    width: 60%;
}

.box .pop img {
    width: 100%;
    height: 100%;
}